html, body {
    height: 100%;
}

body {

    background-image: url("computer-circuits.jpeg");
    backdrop-filter: blur(8px);
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
#button {
    color: white;
    background: linear-gradient(to top left, #056074,#417d57);
}
.calculator {
    max-width: 450px;
    border: solid #083238 3px;
    background: linear-gradient(to top left, #044958, #315d41);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
   color: #fff;
   padding: 25px;
   border-radius: 10px;
   text-align: left;
   opacity: 0.9;
}

input {
    width: 100%;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: #083238;
    color: #fff;
    border: 1px solid #041619;
    margin-bottom: 10px;
}

button {
    border-radius: 10px;
    padding: 8px;
    background-color: #083238;
    color: #fff;
    border: 2px solid #04171a;
    border-bottom-width: 5px;
    margin-bottom: 10px;
}

button:active {
    transform: translateY(3px);
}

h3 {
    white-space: nowrap;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}